# Ignore Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo



# Ignore macOS system files
.DS_Store

# Ignore logs
*.log


# Ignore temporary or backup files
*~
*.bak
*.tmp

# Ignore compiled C/C++ files
*.out
*.o
*.obj

